:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--ColorCrema);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ColorCrema: #f0e5cf;
  --ColorOscuro: #3a3a3a;
  --ColorCafeOscuro: #4b2e2e;
  --ColorAzulVerdoso: #8baaad; /* Cambié el nombre para diferenciarlo del primer ColorCrema */
  --ColorTerracota: #c4753d;
  --ColorCafeClaro: #a67a5b;
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
