.waiter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
  justify-content: center;
}

.menu-waiter {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-container p {
  color: var(--ColorOscuro);

  /* Headers */
  font-family: "Arima Madurai";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 91.667% */
}

.login-items {
  display: block;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--ColorCafeOscuro);
  background: var(--ColorOscuro);
  height: 600px;
  overflow-y: auto;
}

.search {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.waiter-card {
  display: flex;
  cursor: pointer;
  padding: 20px;
  justify-content: flex-start;
  gap: 40px;
  border-radius: 20px;
  background: var(--ColorCrema);
  margin-bottom: 20px; /* Añade espacio entre las tarjetas */
  transition: border 0.3s;
  transition: height 0.3s ease, opacity 0.3s ease;
  height: 81px;
  box-shadow: inset 0 0 0 2px var(--ColorCafeClaro);
}

.waiter-actions{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.waiter-card.expanded {
  height: 90px; /* Altura de la tarjeta cuando está expandida */
  opacity: 1; /* Mantén la opacidad al 100% */
}

.waiter-card:hover {
  box-shadow: inset 0 0 0 2px var(--ColorOscuro);
}


.waiter-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.waiter-card.expanded  .waiter-info p {
  color: var(--ColorCafeOscuro);
}

.waiter-info p {
  color: var(--ColorCafeClaro);

  /* Headers */
  font-family: "Arima Madurai";
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 91.667% */
  transition: color 0.3s;
}

.error-msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error-msg p {
  color: var(--ColorCafeOscuro);

  /* Headers */
  font-family: "Arima Madurai";
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 91.667% */
  transition: color 0.3s;
}

.waiter-info button {
  border-radius: 20px;
  padding: 5px 10px;
  background: var(--ColorTerracota);
}
